    .global {
    margin: 0 auto;
    max-width: 1000px;
  }

.hero__icone-app {
    margin-top: 3vh;
  }
  
  
  .populaire {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  
  .boite__flex {
    display: flex;
    justify-content: center;
    flex: 1 1 225px;
    flex-wrap: wrap;
    
    max-width: 85%;
  }