/*
  --------------------------------- Styles pour la page 404
*/

.erreur-404 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(247, 183, 49, 255);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  
  &__titre {
    font-size: 3rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    border-radius: 8px;
  }

  &__message {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
  }

  &__bouton {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: rgba(122, 182, 230);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: rgb(78, 121, 156);
    }
  }

  &__suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0;

    a {
      padding: 1rem 2rem;
      border-radius: 6px;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-weight: bold;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__recherche {
    margin-top: 2rem;
  }
}