/*
  --------------------------------- Composant hero
*/

.hero {
    min-height: 100vh;
    background-repeat: no-repeat;
  
    &__titre {
      padding-top: 10vh;
      font-size: 3rem;
      text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.707);
    }
  
    &__contenu {
      max-width: 80%;
    }
  
    &__description {
      width: 40vw;
    }
  
    &__liens p, button {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  
    &__bouton {
      display: flex;
      align-items: center;
      justify-content: center;
  
      height: 40px;
      border: none;
      border-radius: 4px;
  
      background-color: rgba(255, 255, 255, 0.668);
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.427);
        cursor: pointer;
      }
    }
  
    &__info {
      margin: 0;
      margin-top: 6vh;
  
      & p {
        margin: 0;
      }
    }
    
  &__carroussel{
    @keyframes fondu_invisible {
      from {opacity: 1;}
      to {opacity: 0;}
    }
    width : 100%;
    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    position : absolute;
    
    min-height: 100vh;
    
    
    z-index : -1;
    opacity: 1;
    
    animation-name: fondu_invisible;
    animation-duration: 0.5s;

    

    &--active{
      position : absolute;
      min-height: 100vh;
      width : 100%;
      background-position: center;
      background-repeat: no-repeat;
      z-index : -1;
      opacity: 1;

      animation-name: fondu_visible;
      animation-duration: 0.5s;
    }

    @keyframes fondu_visible {
      from {opacity: 0;}
      
      to {opacity: 1;}
    }
 }

  &__radio {
    width : 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap : 2rem;
   }
  }